/*body{*/
/*    font-family: 'Montserrat';*/
/*    text-align: justify;*/
/*}*/
/*.masthead {*/
/*    height: 10vh;*/
/*    min-height: 300px;*/
/*    background-image: url('img/header-bg-blue.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/


/*.nav-item{*/
/*    padding-left: 5rem;*/
/*    padding-right: 5rem;*/
/*}*/
/*.nav-item .nav-link{*/
/*    color: #509d97;*/
/*}*/
/*!*.nav-item .nav-link:hover{*!*/
/*!*    border: 1px solid #509d64*!*/
/*!*}*!*/
/*.nav-item .nav-link.active {*/
/*    color: white;*/
/*    background-color: #50669d;*/
/*    border-color: #dee2e6 #dee2e6 #394c77;*/
/*}*/

/*.nav .nav-item li.active a:after {*/

/*}*/
/*.tab-content {*/
/*    padding: 1rem;*/
/*    font-size:0.9em;*/
/*}*/
/*@media only screen and (max-width: 480px) {*/
/*}*/

/*h5{*/
/*    color: #4381a9;*/
/*}*/
/*.fw-light{*/
/*    color:#fff;*/
/*}*/
/*img.common-image{*/
/*    width:100%;*/
/*}*/
/*gray{*/
/*    color:#c7c4c4;*/
/*}*/
/*img.avatar{*/
/*    border-radius: 50%;*/
/*    width:116px;*/
/*    height:116px;*/
/*}*/
/*hr.sub-divider{*/
/*    border-top: 0px;*/
/*}*/
/*.table .thead-green th {*/
/*    color: #fff;*/
/*    background-color: #37a1a6;*/
/*    border-color: #e8e8e8;*/
/*}*/
/*.table td {*/
/*    text-align: initial;*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url('../img/logo/fishairtransparent .png');
    background-position: right bottom;
    background-repeat:no-repeat;
    background-size: 25%;
    opacity: 0.8;
    background-attachment: fixed;
}


.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #fff;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #00BFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}


.img-logo{
    width:20%;
    float:left
}

.navbar-links a {
    color: #333;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bolder
}
.navbar-links a:hover {
    color: #00BFFF;
}

.hero {
    background-image: url("../img/header-bg-blue.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hero::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 600px;
    background-color: #024bee;
    opacity: 0.5;
    z-index: -1;
}

.hero h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}
.hero p.content{
    font-size: 18px;
}
.hero button {
    background-color: #00BFFF;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    padding: 12px 30px;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #0080FF;
}

.services {
    background-color: #fff;
    padding: 80px 0;
}

.services h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-grid .service {
    width: calc(33.33% - 20px);
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.services-grid .service:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.services-grid .service i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #00BFFF;
}

.services-grid .service h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.services-grid .service p {
    font-size: 18px;
    color: #666;
}

.featured {
    background-color: #f5f5f5;
    padding: 80px 0;
}

.featured h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.featured-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-item {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
}

.featured-item img {
    width: 100%;
    border-radius: 10px;
}

.featured-item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.featured-item p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.testimonials {
    background-color: #fff;
    padding: 80px 0;
}

.testimonials h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial {
    width: calc(33.33% - 20px);
    padding: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.testimonial img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.testimonial h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer p {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 16px;
}