/*body{*/
/*    font-family: 'Montserrat';*/
/*    text-align: justify;*/
/*}*/
/*.masthead {*/
/*    height: 10vh;*/
/*    min-height: 300px;*/
/*    background-image: url('img/header-bg-blue.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/


/*.nav-item{*/
/*    padding-left: 5rem;*/
/*    padding-right: 5rem;*/
/*}*/
/*.nav-item .nav-link{*/
/*    color: #509d97;*/
/*}*/
/*!*.nav-item .nav-link:hover{*!*/
/*!*    border: 1px solid #509d64*!*/
/*!*}*!*/
/*.nav-item .nav-link.active {*/
/*    color: white;*/
/*    background-color: #50669d;*/
/*    border-color: #dee2e6 #dee2e6 #394c77;*/
/*}*/

/*.nav .nav-item li.active a:after {*/

/*}*/
/*.tab-content {*/
/*    padding: 1rem;*/
/*    font-size:0.9em;*/
/*}*/
/*@media only screen and (max-width: 480px) {*/
/*}*/

/*h5{*/
/*    color: #4381a9;*/
/*}*/
/*.fw-light{*/
/*    color:#fff;*/
/*}*/
/*img.common-image{*/
/*    width:100%;*/
/*}*/
/*gray{*/
/*    color:#c7c4c4;*/
/*}*/
/*img.avatar{*/
/*    border-radius: 50%;*/
/*    width:116px;*/
/*    height:116px;*/
/*}*/
/*hr.sub-divider{*/
/*    border-top: 0px;*/
/*}*/
/*.table .thead-green th {*/
/*    color: #fff;*/
/*    background-color: #37a1a6;*/
/*    border-color: #e8e8e8;*/
/*}*/
/*.table td {*/
/*    text-align: initial;*/
/*}*/
@font-face {
    font-family:techfont;
    src:url("../font/Techfont.ttf")
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat',Arial, sans-serif;
    text-align: justify;
    font-size: 16px;
    background-image: url('../img/logo/fishairtransparent .png');
    background-position: right bottom;
    background-repeat:no-repeat;
    background-size: 25%;
    opacity: 0.8;
    background-attachment: fixed;
}
h1
{
    font-family: techfont;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 0.2vw;
}

.main-content{
    padding: 20px 20px;
}
.container h2{
    padding:5vw;
}
.header {
    background-color: #fff;
}

.navbar {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 3vw;
    letter-spacing: 0.02vw;
    font-weight: bold;
    color: #00BFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: techfont;
}
.logo a:hover{
    color: #00BFFF;
}

.img-logo{
    width:20%;
    float:left
}

.navbar-links a {
    color: #333;
    text-decoration: none;
    margin-left: 1vw;
    font-size: 1vw;
    font-weight: bolder
}
.navbar-links a.active{
    color: #00BFFF;
}
.navbar-links a:hover {
    color: #00BFFF;
}

.hero {
    background-image: url("../img/header-bg-blue.jpg");
    background-position: center;
    background-size: cover;
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hero-second {
    background-image: url("../img/header-bg-blue.jpg");
    background-position: center;
    background-size: cover;
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
    color:white;
}
.hero-second::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: #083393;
    opacity: 0.9;
    z-index: -1;
}
.hero::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #083393;
    opacity: 0.9;
    z-index: -1;
}

.hero h1 {
    font-size: 3.8vw;
    color: #fff;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.hero p {
    font-size:1.6vw;
    color: #fff;
    margin-bottom: 2vw;
}
.hero p.content{
    font-size: 1.2vw;
}
.hero a {
    background-color: #00BFFF;
    border: none;
    border-radius: 1vw;
    color: #fff;
    font-size: 1.2vw;
    padding: 0.8vw 1.5vw;
    transition: background-color 0.3s ease;
    TEXT-DECORATION: none
}

.hero a:hover {
    background-color: #0080FF;
}

.services {
    background-color: #fff;
    padding: 6vw 0;
}

.services h2 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 4vw;
    text-align: center;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-grid .service {
    width: calc(33.33% - 2vw);
    padding: 2.5vw;
    text-align: center;
    border: 0.01vw solid #11a4b4;
    border-radius: 0.8vw;
    transition: box-shadow 0.3s ease;
}

.services-grid .service:hover {
    box-shadow: 0 0.03vw 1vw rgba(0,0,0,0.1);
}

.services-grid .service i {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    color: #00BFFF;
}

.services-grid .service h3 {
    font-size: 2vw;
    margin-bottom: 1.8vw;
    color: #11a4b4;
}

.services-grid .service p {
    font-size: 1.2vw;
    color: #666;
}

.featured {
    background-color: #f5f5f5;
    padding: 8.0vw 0;
}

.featured h2 {
    font-size: 3.6vw;
    font-weight: bold;
    margin-bottom: 5.0vw;
    text-align: center;
}

.featured-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-item {
    width: calc(33.33% - 2.0vw);
    margin-bottom: 4.0vw;
}

.featured-item img {
    width: 100%;
    border-radius: 1vw;
}

.featured-item h3 {
    font-size: 2.4vw;
    font-weight: bold;
    margin-top: 2vw;
    margin-bottom: 1vw;
    color: #333;
}

.featured-item p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.testimonials {
    background-color: #fff;
    padding: 80px 0;
}

.testimonials h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.testimonials-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial {
    width: calc(33.33% - 20px);
    padding: 30px;
    text-align: center;
    border: 3px solid #ddd;
    border-radius: 10px;
}

.testimonial img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.testimonial h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 3vw 0;
    text-align: center;
}

.footer p {
    font-size: 1vw;
    margin-bottom: 1.2vw;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 2.8vw;
    font-size: 1vw;
}

.footer-links img{
    width: 3.2vw;
}